<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <base href="<%= PUBLIC_PATH %>" />
  <link rel="icon" href="<%= PUBLIC_PATH %>favicon.ico" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="theme-color" content="#000000" />
  <meta name="description" content="Voting System" />
  <link rel="apple-touch-icon" href="<%= PUBLIC_PATH %>logo192.png" />
  <link rel="manifest" href="<%= PUBLIC_PATH %>manifest.json" />
  <title>调研投票系统</title>
</head>

<body>
  <noscript>You need to enable JavaScript to run this app.</noscript>
  <div id="callback"></div>
</body>

</html>