.sider_logo-horizontal {
  width: 120px;
  height: 31px;
  line-height: 31px;
  margin: 16px 20px;
  float: left;
  overflow: hidden;
  &:after {
    content: "";
    display: inline-block;
    height: 100%;
    vertical-align: middle;
  }
}

.ant-menu {
  flex: 1 1 0%;
  line-height: 64px;
}
