.sider {
  box-shadow: 2px 0 5px 2px gray;
}

.sider_logo {
  height: 32px;
  background: rgba(255, 255, 255, 0.2);
  background-image: linear-gradient(to bottom right, #e66465, #9198e5);
  margin: 16px;
  text-align: center;
  overflow: hidden;
  &:hover {
    cursor: pointer;
  }
  &:after {
    content: "";
    display: inline-block;
    height: 100%;
    vertical-align: middle;
  }
}

.sider_logo_image {
  display: inline-block;
  width: 40px;
  height: 100%;
}

.sider_logo_text {
  color: whitesmoke;
  vertical-align: middle;
}

.ant-layout-sider-collapsed .sider_logo_text {
  position: absolute;
  opacity: 0;
}
